.footer {
    background-color: #272e31;
    color: white;
}

th, td {
    padding: 15px;
    width: 25%;
}

thead td {
    font-weight: bold;
}

.tr-last {
    background-color: #000;
    color: white;
}
